<div class="d-flex" id="content-wrapper">

      <!-- Sidebar -->
      <div *ngIf="mostrar" id="sidebar-container" class="bg-light border-dark border-right">
        <div class="logo">
          <h4 class="logo"><i class="btn-lg text-primary fas fa-virus"></i> Coronavirus</h4>
        </div>
        <div class="menu list-group-flush">
       <a [routerLink]="['home']" class="list-group-item list-group-item-action bg-light p-3 border-bottom border-dark"><i class="fas fa-home mr-2"></i>Tablero</a>
       <a [routerLink]="['usuarios']" class="list-group-item list-group-item-action bg-light p-3 border-bottom border-dark"><i class="fas fa-users mr-2"></i>Usuarios</a>
       <a [routerLink]="['home']" class="list-group-item list-group-item-action bg-light p-3 border-bottom border-dark"><i class="fas fa-book mr-2"></i>Registros Covid</a>
       <a [routerLink]="['reporte']" class="list-group-item list-group-item-action bg-light p-3 border-bottom border-dark"><i class="fas fa-globe-americas mr-2"></i>Reporte Economico</a>
        </div>
      </div>
      <!-- Fin sidebar -->

      <!-- Page Content -->
      <div id="page-content-wrapper" class="w-100 bg-light-blue">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-dark">
          <div class="container">
            <button (click)="mostrar = !mostrar " class="btn btn-outline-dark" id="menu-toggle"><i class="fas fa-bars"></i></button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admin
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="pag/login.html">Logout</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <div id="content" class="container-fluid p-5">
          <section class="py-3">
              <router-outlet></router-outlet>
          </section>
        </div>
      </div>
      <!-- Fin Page Content -->
    </div>
